html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* make script centered */
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

p {
  margin: 0;
  position: absolute;
  left: 50%;
}

#loading {
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 0;
}

#score {
  top: 20px;
  transform: translateX(-50%);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
}

#keymap {
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 20px;
  /* text-align: center; */
  z-index: 9999;
}

.show {
  display: block;
}

.hide {
  display: none;
}